.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
}

.linkDefault {
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
